<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashbroadController</servlet-name>
        <servlet-class>Controller.AdminDashbroadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLecturerCoursesController</servlet-name>
        <servlet-class>Controller.AdminLecturerCoursesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerDashboardController</servlet-name>
        <servlet-class>Controller.LecturerDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminStudentCoursesController</servlet-name>
        <servlet-class>Controller.StudentCoursesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerStudentCoursesController</servlet-name>
        <servlet-class>Controller.LecturerStudentCoursesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDashboardController</servlet-name>
        <servlet-class>Controller.StudentDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminStudentDetailsController</servlet-name>
        <servlet-class>Controller.AdminStudentDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerStudentDetailsController</servlet-name>
        <servlet-class>Controller.LecturerStudentDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentController</servlet-name>
        <servlet-class>Controller.ListStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLecturerControler</servlet-name>
        <servlet-class>Controller.ListLecturerControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerCourse</servlet-name>
        <servlet-class>Controller.LecturerCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureStudent</servlet-name>
        <servlet-class>Controller.LectureStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDetail</servlet-name>
        <servlet-class>Controller.StudentDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentCourseController</servlet-name>
        <servlet-class>Controller.StudentCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureInputController</servlet-name>
        <servlet-class>Controller.LectureInputController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashbroadController</servlet-name>
        <url-pattern>/admin/dashboard/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLecturerCoursesController</servlet-name>
        <url-pattern>/admin/lecturer/lecturerCourses/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerDashboardController</servlet-name>
        <url-pattern>/lecturer/dashboard/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminStudentCoursesController</servlet-name>
        <url-pattern>/admin/students/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerStudentCoursesController</servlet-name>
        <url-pattern>/lecturer/students/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDashboardController</servlet-name>
        <url-pattern>/student/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminStudentDetailsController</servlet-name>
        <url-pattern>/admin/students/score/courses/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerStudentDetailsController</servlet-name>
        <url-pattern>/lecturer/students/score/courses/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentController</servlet-name>
        <url-pattern>/liststudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLecturerControler</servlet-name>
        <url-pattern>/listlecturers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerCourse</servlet-name>
        <url-pattern>/lecturercourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureStudent</servlet-name>
        <url-pattern>/lecturestudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDetail</servlet-name>
        <url-pattern>/studentdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentCourseController</servlet-name>
        <url-pattern>/studentcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureInputController</servlet-name>
        <url-pattern>/lectureinput</url-pattern>
    </servlet-mapping>
</web-app>
